elpaca/
var/
etc/
pyim/
tree-sitter/
rime/
eln-cache/
auto-save-list/
elpa/
custom.el
.org-id-locations
.DS_Store
lisp/init-my-mode.el
history
transient/history.el
blink-search/
recentf
places
blink-search.db
bookmarks
projectile-bookmarks.eld
